<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @training.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @training.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @training.content %>
</p>

<p>
  <strong>成長部位</strong>
  <%= @training.growing_parts %>
</p>

<%= link_to 'メニュー編集', edit_training_path(@training) %> |
<%= link_to '戻る', training_menus_path %>|
<%= link_to '削除', "trainings/#{@training.id}", method: :delete %>