<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @training.title %>
</p>

<p>
  <strong>時間</strong>
  <%= @training.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容</strong>
  <%= @training.content %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>