<h1>こんにちは、<%= current_user.nickname %>さん</h1>
<p id="notice"><%= notice %></p>

<h1>筋トレ予定</h1>

<table>
  <thead>
    <tr>
      <th>メニュー</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.title %></td>
        <td><%= training.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', training %></td>
        <td><%= link_to 'Edit', edit_training_path(training.id) %></td>
        <td><%= link_to 'Destroy',training_path(training.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '日記をかく', new_training_path %>

<%= month_calendar events: @trainings do |date, trainings| %>
    <%= date.day %>

    <% trainings.each do |training| %>
      <div>
        <%= link_to training.title, training %>
      </div>
    <% end %>
<% end %>