<% @training_reports.each do |training_report| %>
  <ul>
      <%= link_to current_user.nickname,current_user %>
    <% @users.each do |user| %>
    <% end %>
      <li><%= training_report.content %></li>
      <%= time_ago_in_words(training_report.created_at) %>前に作成
      <% if user_signed_in? && current_user.id == training_report.user_id %>
          | <%= link_to "削除", "training_reports/#{training_report.id}", method: :delete,
                      data: { confirm: "投稿を削除しますか?" } %>
      <% end %>
  </ul>
<% end %>
<%== pagy_nav(@pagy) %>