#一つの投稿を表示するパーシャル

<li id="training_report-<%= training_report.id %>">
  <%= link_to gravatar_for(training_report).user, size: 50),training_report .user %>
  <span class="user"><%= link_to training_report.user.name, training_report.user %></span>
  <span class="content"><%= training_report.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(training_report.created_at) %> ago.
  </span>
</li>