<%= form_with(model: @training_report, local: true) do |form| %>

    <%= render 'shared/error_messages', object: form.object %>

    <%= form.hidden_field :id, value: @training_report.id %>

    <div class="field">
      <%= form.label :投稿内容 %>
      <%= form.text_area :content %>
    </div>
  
    <div class="submit">
      <%= form.submit "投稿" %>
      
    </div>
    
<% end %>