<p id="notice"><%= notice %></p>

<h1>筋トレ予定</h1>

<table>
  <thead>
    <tr>
      <th>メニュー</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_menus.each do |training_menu| %>
      <tr>
        <td><%= training_menu.training_menu %></td>
        <td><%= training_menu.start_time.try(:strftime,"%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', training_menu_path(training_menu) %></td>
        <td><%= link_to 'Edit', edit_training_menu_path(training_menu.id) %></td>
        <td><%= link_to 'Destroy',training_menu_path(training_menu.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規メニュー作成', new_training_menu_path %>

<%= month_calendar events: @training_menus do |date, training_menus| %>
    <%= date.day %>
    <% training_menus.each do |training_menu| %>
      <div>
        <%= link_to 'training_menu.title', training_menu_path(training_menu.id) %>
      </div>
    <% end %>
<% end %>