<p id="notice"><%= notice %></p>

<h1>筋トレ予定</h1>

<table>
  <thead>
    <tr>
      <th>メニュー</th>
      <th>時間</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_menus.each do |training_menu| %>
      <tr>
        <td><%= training_menu.training_menu %></td>
        <td><%= link_to 'Show', training_menu_path(training_menu) %></td>
        <td><%= link_to 'Edit', edit_training_menu_path(training_menu.id) %></td>
        <td><%= link_to 'Destroy',training_menu_path(training_menu.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規メニュー作成', new_training_menu_path %>

<%= month_calendar events: @trainings do |date, trainings| %>
    <%= date.day %>
    <% trainings.each do |training| %>
      <div>
        <%= link_to training.title, training_path(training) %>
      </div>
    <% end %>
<% end %>