<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :ニックネーム %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :性別 %><br />
    <%= f.text_field :gender, autofocus: true, autocomplete: "gender" %>
  </div>

  <div class="field">
    <%= f.label :身長 %><br />
    <%= f.text_field :height, autofocus: true, autocomplete: "height" %>
  </div>

  <div class="field">
    <%= f.label :体重 %><br />
    <%= f.text_field :body_weight, autofocus: true, autocomplete: "body_weight" %>
  </div>

  <div class="field">
    <%= f.label :生年月日 %><br />
    <%= f.text_field :born_on, autofocus: true, autocomplete: "born_on" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "アカウント作成" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
